body {
    width: 400px;
    text-align: center;
    background-color: #191a1c;
    color: whitesmoke;
}

.container {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 15px;
}

.container2 {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 15px;
}

.btn1 {
    border-radius: 5px;
    background-color: #075656;
    border: 4px solid #075656;
    color: whitesmoke;
    font-weight: 400;
    padding: 4px 15px;
    margin-right: 25px;
    text-align: center;
}


button {
    border-radius: 5px;
    background-color: #075656;
    border: 4px solid #075656;
    color: whitesmoke;
    font-weight: 400;
    padding: 4px 15px;
    margin-right: 25px;
}
button.active {
    border: 4px solid teal;
}
button:hover {
    border: 4px solid teal;
}
button:focus {
    outline: none;
}
label {
    font-size: 1.1rem;
    margin: 15px auto;
    display: block;
}

.span {
  width: 50px;
  height: 50px;
  background: black;
}
