.body {
    display: block;
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    border: 3px;
}

.container {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-bottom: 15px;
    border: 3px;
    padding: 10px;

}

.goButton {
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: teal;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    font-weight: 400;
    padding: 4px 15px;
    margin-right: 25px;
    text-align: center;
    width: 100%;
    transition: 0.2s;
    overflow: hidden;
    margin-top: 90px;
}

.goButton:hover{
    color: #075656;
    background: teal;
    box-shadow: 0 0px 10px teal, 0 0px 40px teal, 0 0 80px teal;
    
}

.label {
    font-size: 1.1rem;
    margin: 15px auto;
    display: block;
}

.selectYtSubscriptions{
    color: teal;
    font: 36px Tahoma, Helvetica, Arial, Sans-Serif;
    text-shadow: 0px 2px 3px rgb(0, 0, 0);
    text-align: center;
    margin: 90px;
}

.selectYtSubscriptions:hover{
    text-shadow: 0px 2px 3px rgb(0, 255, 255);
    transition: 0.2s;
}