body {
    width: 400px;
    text-align: center;
    background-color: #191a1c;
    color: whitesmoke;

  left: 50%;
  top: 50%;
}

.container {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 15px;

}

.goButton {
    border-radius: 5px;
    background-color: #075656;
    border: 4px solid #075656;
    color: whitesmoke;
    font-weight: 400;
    padding: 4px 15px;
    margin-right: 25px;
    text-align: center;
}


.label {
    font-size: 1.1rem;
    margin: 15px auto;
    display: block;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }