$background-color: #191a1c !default
$text-color: whitesmoke !default

$btn-color: #075656 !default
$btn-select: teal !default

body
  width: 30em
  text-align: center
  background-color: $background-color
  color: $text-color
  font-family: sans-serif
  padding: 1em

.container
  display: block
  text-align: center

.button
  border-radius: .5em
  background-color: $btn-color
  border: .2em solid $btn-color
  color: $text-color
  font-size: 0.8rem
  font-weight: 400
  padding: .5em
  text-align: center

  &.active
    border-color: $btn-select

  &:focus
    outline: none
